{% extends 'workouts/base.html' %}

{% block content %}
  <form class='bg-light rounded shadow m-3 p-3' method='POST'>
    {% csrf_token %}
    <div class='m-3'>
      <h2>Create a Custom Workout Schedule</h2>
      <p>Step 1: Select the Workout Programs you want to include in your Workout Schedule. (Please select at least 1)</p>
    </div>
    {% if error %}
    <div class="alert alert-danger m-3" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <div class="list-group m-3">
      <div class="d-flex container">
        <div class="row">
          {% for program in programs %}
          <div class="col-3">
            <label class="list-group-item ">
              <input class="form-check-input mr-1" name='programs' type="checkbox" value='{{ program.program }}'>
              {{ program.program }}
            </label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- <div class='m-3'>
      <p>Step 2: Do you want to include an Ab Workout?</p>
    </div>
    <div class="list-group m-6">
      <div class="container">
        <div class="row">
          <div class="col-2 ">
            <label class="list-group-item ">
              <input class="form-check-input mr-1" name='ab-workout' type="radio" value='yes' checked required>
              Yes
            </label>
            <label class="list-group-item ">
              <input class="form-check-input mr-1" name='ab-workout' type="radio" value='no' required>
              No
            </label>
          </div>
        </div>
      </div>
    </div> -->
    <div class='m-3'>
      <p>Step 2: Select how many days you want to workout per week.</p>
    </div>
    <div class="list-group m-6">
      <div class="container">
        <div class="row">
          {% for day in week %}
          <div class="col-2 ">
            <label class="list-group-item ">
              <input class="form-check-input mr-1" name='days' type="radio" value='{{ day }}' required>
              {{ day }} Days
            </label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class='m-5'>
      {% if schedule %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Success! - Click to create another workout schedule</button>
      {% else %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Create Workout Schedule</button>
      {% endif %}
    </div>
  </form>
  {% if schedule %}
    <div class="alert alert-success mx-5" role="alert">
      View your custom workout schedule below!
      <a class="nav-link " aria-current="page" href="{% url 'download_workout_csv' %}">Download</a>
    </div>
    {% for week in schedule %}
    <div class="card shadow mx-5 mb-1">
      <div class="card-header">
        <h1><span class="badge bg-success">Week {{ forloop.counter }}</span></h1>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Workout</th>
            <th scope="col">Minutes</th>
            <th scope="col">Categories</th>
            <th scope="col">Program</th>
          </tr>
        </thead>
        <tbody>
          {% for day, value in week.items %}
          <tr>
            <th scope="row">Day {{ day|title }}</th>
            <th>{{ value }}</th>
            <td>{{ value.time }}</td>
            <td>
              {% for category in value.category.all %}
                <span class="badge bg-info m-1 p-1">{{ category|title }}</span> <br>
              {% endfor %}
            </td>
            <td>{{ value.program }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}

  {% endif %}
{% endblock %}
