{% extends 'workouts/base.html' %}

{% block content %}
<script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_tracking_id = "pmonet316-20";
  amzn_assoc_ad_mode = "manual";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_title = "Pushup Stands";
  amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
  amzn_assoc_asins = "B008DNAJ5M,B0065RBOWK,B00MBEVV8S,B008DNA9WU";
  amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
<script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_tracking_id = "pmonet316-20";
  amzn_assoc_ad_mode = "manual";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_title = "Resistance Bands";
  amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
  amzn_assoc_asins = "B078JFSN9Z,B087V4YV6R,B07HBP2KX7,B01DONM9QW";
  amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
<script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_tracking_id = "pmonet316-20";
  amzn_assoc_ad_mode = "manual";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_title = "Door Anchoring System";
  amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
  amzn_assoc_asins = "B01967FCF0,B00H7WBNFA,B07T15KLFC,B078WFFWR8";
  amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
<script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_tracking_id = "pmonet316-20";
  amzn_assoc_ad_mode = "manual";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_title = "Dumbbells";
  amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
  amzn_assoc_asins = "B001ARYU58,B009GC76QO,B07QZ1NYJ9,B01MYYVGU7";
  amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
<script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_tracking_id = "pmonet316-20";
  amzn_assoc_ad_mode = "manual";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_title = "Bluetooth Speakers";
  amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
  amzn_assoc_asins = "B016XTADG2,B07WNZS2FR,B0837DX77S,B010OYASRG";
  amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
{% endblock %}
