{% extends 'workouts/base.html' %}

{% block content %}
<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" id='about'>What's in my gym bag?</h5>
      <h6 class="card-subtitle mb-2 text-muted">Here's a list of fitness equipment I own.</h6>
      <hr>
      <ol>
        <li class="card-text">Bowflex SelectTech 1090 Adjustable Dumbbells. (I purchased these in 2011 and are the best purchase I've made thus far)</li>
        <li class="card-text">I recently purchased more 1/2" ProSource Exercise Mats. (I upgraded from 6 to 12 mats for use in our spare bedroom)</li>
        <li class="card-text">I use resistance bands and a door anchor to simulate pullups now. I used to use the ProsourceFit door pullup bar but that has damaged some door jams.</li>
        <li class="card-text">I use 4 medicine balls. 2 were included when I purchased P90X2 and the other 2 I purchased on Amazon.</li>
        <li class="card-text">I use a foam roller which was included in P90X2.</li>
        <li class="card-text">I use a big blue balance ball which was included in P90X2.</li>
        <li class="card-text">I use a yoga mat that someone left in an apartment I moved into...eww!</li>
      </ul>
      <br>
      <p>I created a list of products from Amazon that are the most popular fitness equipment some of which I've personally purchased before. If you puchase through the affiliated links they help fund the hosting costs of this application once I migrate to a dedicated site.</p>
    </div>
  </div>
  <div class="alert alert-dark mt-3" role="alert">
    <b>DISCLOSURE:</b> As an Amazon Associate I earn from qualifying purchases.
  </div>
  <div class="card border shadow mt-3 ">
    <div class="card-body">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "pmonet316-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_title = "Pushup Stands";
        amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
        amzn_assoc_asins = "B008DNAJ5M,B0065RBOWK,B00MBEVV8S,B008DNA9WU";
        amzn_assoc_search_bar = "true";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
  <div class="card border shadow mt-3">
    <div class="card-body">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "pmonet316-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_linkid = "09fda2c2cee52c68aa44dcf4f3ff576d";
        amzn_assoc_asins = "B00B4IHXRU,B07BXTJDTP,B00FO9U46W,B07F8SJDFX";
        amzn_assoc_search_bar = "true";
        amzn_assoc_title = "Workout Mats";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
  <div class="card border shadow mt-3">
    <div class="card-body">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "pmonet316-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_title = "Resistance Bands";
        amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
        amzn_assoc_asins = "B078JFSN9Z,B087V4YV6R,B07HBP2KX7,B01DONM9QW";
        amzn_assoc_search_bar = "true";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
  <div class="card border shadow mt-3">
    <div class="card-body">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "pmonet316-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_title = "Door Anchoring System for Resistance Bands";
        amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
        amzn_assoc_asins = "B01967FCF0,B00H7WBNFA,B07T15KLFC,B078WFFWR8";
        amzn_assoc_search_bar = "true";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
  <div class="card border shadow mt-3">
    <div class="card-body">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "pmonet316-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_title = "Dumbbells";
        amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
        amzn_assoc_asins = "B001ARYU58,B009GC76QO,B07QZ1NYJ9,B01MYYVGU7";
        amzn_assoc_search_bar = "true";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
  <div class="card border shadow mt-3">
    <div class="card-body">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "pmonet316-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_linkid = "09fda2c2cee52c68aa44dcf4f3ff576d";
        amzn_assoc_asins = "B00XM2MRGI,B01BW2YYY2,B0040EGNIU,B01M0M9N4H";
        amzn_assoc_search_bar = "true";
        amzn_assoc_title = "Foam Rollers";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <div class="card border shadow mt-3">
      <div class="card-body">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_tracking_id = "pmonet316-20";
          amzn_assoc_ad_mode = "manual";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_linkid = "09fda2c2cee52c68aa44dcf4f3ff576d";
          amzn_assoc_asins = "B000TG8D6I,B0012J33OS,B00TQ8FSWC,B002QZ1RS6";
          amzn_assoc_search_bar = "true";
          amzn_assoc_title = "Fitness Programs";
          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <div class="card border shadow mt-3">
      <div class="card-body">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_search_bar = "true";
          amzn_assoc_tracking_id = "pmonet316-20";
          amzn_assoc_ad_mode = "manual";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_title = "More Fitness Programs";
          amzn_assoc_linkid = "b6b9bb23bfff42bb6bc19ec2a03e53be";
          amzn_assoc_asins = "B01BCOBNNK,B07ZYWWRKN,B00HD4QM76,B06X8YMG92";
          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <div class="card border shadow mt-3">
    <div class="card-body">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "pmonet316-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_title = "Bluetooth Speakers";
        amzn_assoc_linkid = "2bb5eb88f731923e94e56172e86eae91";
        amzn_assoc_asins = "B016XTADG2,B07WNZS2FR,B0837DX77S,B010OYASRG";
        amzn_assoc_search_bar = "true";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
</div>
{% endblock %}
