{% extends 'workouts/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="accordion" id="accordionExample">
    {% for program in program_workouts %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#program{{ program.program.id }}" aria-expanded="true" aria-controls="program{{ program.program.id }}">
            {{ program.program.program }}
          </button>
        </h2>
      </div>
      <div id="program{{ program.program.id }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Minutes</th>
            </tr>
          </thead>
          <tbody>
            {% for workout in program.workouts %}
              <tr>
                  <th scope="row"><a href="{% url 'workout_detail' workout.id %}">{{ forloop.counter }}</a></th>
                  <th >{{ workout.name }}</th>
                  <th class='mb-3'>{{ workout.time }}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

