body {
  font-family: 'Open Sans', sans-serif;
}

.workout-links {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.badge-links {
  text-decoration: none;
}

a {
  text-decoration: none !important
}

#category-header {
  font-size: 30px;
  font-weight: bold;
}
